@import "normalize";
@import "foundation";
@import "font-awesome";

hr {
	clear: both;
}

.sub-nav dd.active ul a {
	background: #ffffff;
	color: #999999;
}

.sub-nav dd.active ul a:hover {
	background: #d8d8d8;
	color: #737373;
}

.fb-event img {
	width: 100%;
	height: auto;
}