<div class="row">
	<ul class="clearing-thumbs" data-clearing>
		<li>
			<a href="http://res.cloudinary.com/kinkystar/image/upload/c_scale,w_500/v1404849833/artists/alpha_whale.jpg" class="th">
				<img data-interchange="[http://res.cloudinary.com/kinkystar/image/upload/c_scale,w_80/v1404849833/artists/alpha_whale.jpg, (small)], [http://res.cloudinary.com/kinkystar/image/upload/c_scale,w_150/v1404849833/artists/alpha_whale.jpg, (medium)]">
			</a>
		</li>
	</ul>
	<p>
		Wil je in een drukke week er even tussenuit maar kan je niet op vakantie? Dan is dit iets voor jou! Deze West-Vlaamse groep speelt psychedelic blues met smachtende vibes – relax en luister.
	</p>
	<ul class="inline-list">
		<li><a href="https://www.facebook.com/lalphawhale">facebook</a></li>
		<li><a href="http://alpha-whale.bandcamp.com">bandcamp</a></li>
      <li><a href="https://www.youtube.com/watch?v=frF-7QdJeWI">youtube</a></li>
      <li><a href="https://soundcloud.com/alpha_whale/take-it-from-me">soundcloud</a></li>
	</ul>
</div>