<div class="row">
	<ul class="clearing-thumbs" data-clearing>
		<li>
			<a href="http://res.cloudinary.com/kinkystar/image/upload/c_scale,w_800/v1404849837/artists/charnia.jpg" class="th">
				<img data-interchange="[http://res.cloudinary.com/kinkystar/image/upload/c_scale,w_80/v1404849837/artists/charnia.jpg, (small)], [http://res.cloudinary.com/kinkystar/image/upload/c_scale,w_150/v1404849837/artists/charnia.jpg, (medium)]">
			</a>
		</li>
	</ul>
	<p>
		Charnia is net als springen in een zee vol verrassingen: het water kan van stil, naar een ontembare storm gaan – dit maakt de sludge metal atmosfeer charmerend.
	</p>
	<ul class="inline-list">
		 <li><a href="https://www.facebook.com/charniaband">facebook</a></li>
      <li><a href="http://charnia.bandcamp.com/releases">bandcamp</a></li>
	</ul>
</div>