<div class="row">
	<ul class="clearing-thumbs" data-clearing>
		<li>
			<a href="http://res.cloudinary.com/kinkystar/image/upload/c_scale,w_700/v1404664470/artists/Hindu_Needle_Trick1.jpg" class="th">
				<img data-interchange="[http://res.cloudinary.com/kinkystar/image/upload/c_scale,w_80/v1404664470/artists/Hindu_Needle_Trick1.jpg, (small)], [http://res.cloudinary.com/kinkystar/image/upload/c_scale,w_150/v1404664470/artists/Hindu_Needle_Trick1.jpg, (medium)]">
			</a>
		</li>
	</ul>
	<p>
		Uitgehongerde vampieren en onbereikbare liefde kunnen heel catchy zijn... vooral wanneer het pop nummers zijn vermomd als funky folk melodieën.
	</p>
	<ul class="inline-list">
		<li><a href="https://www.facebook.com/TheHinduNeedleTrick">facebook</a></li>
      <li><a href="http://vi.be/thehinduneedletrick">vi.be</a></li>
      <li><a href="https://soundcloud.com/thehinduneedletrick">soundcloud</a></li>
	</ul>
</div>