<div class="row">
	<ul class="clearing-thumbs" data-clearing>
		<li>
			<a href="http://res.cloudinary.com/kinkystar/image/upload/c_scale,w_800/v1404849838/artists/the_germans.jpg" class="th">
				<img data-interchange="[http://res.cloudinary.com/kinkystar/image/upload/c_scale,w_80/v1404849838/artists/the_germans.jpg, (small)], [http://res.cloudinary.com/kinkystar/image/upload/c_scale,w_150/v1404849838/artists/the_germans.jpg, (medium)]">
			</a>
		</li>
	</ul>
	<p>
		The Germans zijn niet voor een gat te vangen. Een genre kan worden gemaakt van vele andere genres, en de band te reist tussen Rock, krautrock, experimentele muziek, Pop ...
	</p>
	<ul class="inline-list">
		 <li><a href="https://www.facebook.com/pages/The-Germans/63216891328">facebook</a></li>
		 <li><a href="http://thegermans.bandcamp.com/">bandcamp</a></li>
		 <li><a href="http://www.thegermans.be/">website</a></li>
	</ul>
</div>