<div class="row">
	<ul class="clearing-thumbs" data-clearing>
		<li>
			<a href="http://res.cloudinary.com/kinkystar/image/upload/c_scale,w_300/v1404664628/artists/THE_FUR.jpg" class="th">
				<img data-interchange="[http://res.cloudinary.com/kinkystar/image/upload/c_scale,w_80/v1404664628/artists/THE_FUR.jpg, (small)], [http://res.cloudinary.com/kinkystar/image/upload/c_scale,w_150/v1404664628/artists/THE_FUR.jpg, (medium)]">
			</a>
		</li>
	</ul>
	<p>
		Dit instrumentale trio is afkomstig uit België: vanaf 2011, brengen ze ons van jaren 70 post stoner tot psychedelic rock muziek. Hun optredens die originele vintage sound hebben zitten vol met psychedelic visuals uit de goeie ouwe tijd! Digitale Kinky Star gepland in Oktober.
	</p>
	<ul class="inline-list">
		 <li><a href="https://www.facebook.com/TheFur.stoner">facebook</a></li>
      <li><a href="http://beta.vi.be/thefur">vi.be</a></li>
	</ul>
</div>