<div class="row">
	<ul class="clearing-thumbs" data-clearing>
		<li>
			<a href="http://res.cloudinary.com/kinkystar/image/upload/c_scale,w_800/v1404849833/artists/thee_marvin_gays.jpg" class="th">
				<img data-interchange="[http://res.cloudinary.com/kinkystar/image/upload/c_scale,w_80/v1404849833/artists/thee_marvin_gays.jpg, (small)], [http://res.cloudinary.com/kinkystar/image/upload/c_scale,w_150/v1404849833/artists/thee_marvin_gays.jpg, (medium)]">
			</a>
		</li>
	</ul>
	<p>
		Wie heeft ooit gezegd dat rock’n’roll niet simpel en royal kan zijn? Verschillende invloeden, van the Monks tot the Stone en the Country T zorgen ervoor dat deze garage punk succesvol is!
	</p>
	<ul class="inline-list">
		 <li><a href="https://www.facebook.com/Theemarvingays">facebook</a></li>
      <li><a href="http://theemarvingays.bandcamp.com/">bandcamp</a></li>
      <li><a href="http://www.myspace.com/theemarvingays">myspace</a></li>
      <li><a href="https://www.youtube.com/watch?v=gu3TaLsYTaU&feature=related">youtube</a></li>
	</ul>
</div>