<dl class="sub-nav">
  <dd{% if active == "home" %} class="active"{% endif %}><a href="#">Home</a></dd>
  <dd{% if active == "club" %} class="active"{% endif %}><a href="club">Club</a></dd>
  <dd{% if active == "records" %} class="active"{% endif %}><a href="records">Records</a></dd>
  <dd{% if active == "radio" %} class="active"{% endif %}><a href="radio">Radio</a></dd>
  <dd class="dropdown{% if active == 'galaxy' %} active{% endif %}">
    <a href="#" data-dropdown="galaxy-nav" data-options="is_hover:true">Galaxy</a>
    <ul id="galaxy-nav" class="f-dropdown" data-dropdown-content>
      <li><a href="galaxy/jongeduld">Jongeduld</a></li>
      <li><a href="galaxy/dark-and-brooding">Dark and brooding</a></li>
    </ul>
  </dd>
</ul>